@font-face {
    font-family: Bahnschrift;
    src: url(../assets/fonts/bahnschrift.TTF);
}
@font-face {
    font-family: Product Sans;
    src: url(../assets/fonts/product_sans.ttf);
}

body {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav {
    color: #FFFFFF;
    font-family: Bahnschrift, sans-serif;
    background-color: #042B67;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.nav_logo_container {
    display: flex;
    justify-content: flex-start;
    padding-right: 400px;
}
.nav_logo {
    width: 60px;
    padding-right: 10px;
}
.nav_logo_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
}
div.nav_link_container {
    display: flex;
    justify-content: center;
}
.nav_link_container div {
    padding: 0 11px;
}
a.nav_link {
    color: #FFFFFF;
    font-size: 1.125rem;
    text-decoration: none;
}
a.nav_link:hover {
    text-decoration: underline;
}

div.body_padding {
    padding: 0 15vw;
}

.heading_image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    margin-bottom: 2rem;
}
.top_text{
    font-size: .75rem;
    font-family: Bahnschrift;
    letter-spacing: .75rem;
    color: #757575;
}
.heading {
    color: #042B67;
    margin-top: .5rem;
    font-size: 2rem;
    font-family: Bahnschrift;
    font-weight: bold;
}
.article_body {
    padding: 1vh 5vw;
    font-size: 1rem;
    font-family: Product Sans;
    line-height: 1.5rem;
}









.footer_section {
    padding: 2rem 0;
    height: 20vh;
    background-color: #042B67;
}
.footer_section div{
    color: #FFFFFF;
    display: grid;
    align-self: center;
}
.footer_section .body_padding .social_links{
    display: flex;
    justify-content: center;
}
.footer_section .body_padding .social_links img{
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 30px;
    margin: 1rem;
}
.footer_section .body_padding .bottom_footer{
    display: flex;
    justify-content: center;
}
.footer_section .body_padding .bottom_footer img{
    width: 40px;
    margin-right: 5px;
}
.footer_section .body_padding .bottom_footer p{
    font-family: Product Sans;
    font-size: 1rem;
}