@font-face {
    font-family: Bahnschrift;
    src: url(../assets/fonts/bahnschrift.TTF);
}
@font-face {
    font-family: Product Sans;
    src: url(../assets/fonts/product_sans.ttf);
}

body {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav {
    color: #FFFFFF;
    font-family: Bahnschrift, sans-serif;
    background-color: #042B67;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.nav_logo_container {
    display: flex;
    justify-content: flex-start;
    padding-right: 400px;
}
.nav_logo {
    width: 60px;
    padding-right: 10px;
}
.nav_logo_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
}
div.nav_link_container {
    display: flex;
    justify-content: center;
}
.nav_link_container div {
    padding: 0 11px;
}
a.nav_link {
    color: #FFFFFF;
    font-size: 1.125rem;
    text-decoration: none;
}
a.nav_link:hover {
    text-decoration: underline;
}

div.body_padding {
    padding: 0 15vw;
}
@media screen and (max-width: 500px) {
    div.body_padding {
        padding: 0 6vw;
    }
}

.top_section {
    background-image: url(https://cdn.discordapp.com/attachments/978853060476563466/1219986700147621921/image-031.jpg?ex=660d4c27&is=65fad727&hm=30cd853ff3517b1fa1705deb69fdedea3f7b669079397a34cfc60f67bd995d6a&);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
@media screen and (max-width: 900px) {
    .top_section {
        padding: 5vh 0;
        height: auto;
    }
}

.heading {
    font-family: Bahnschrift,  sans-serif;
    font-size: 3.4rem;
    text-align: center;
    margin: 0;
}
.subheading {
    font-family: Product Sans, sans-serif;
    font-size: 1.25rem;
    text-align: center;
}

.find_flight_container {
    background-color: #FFFFFF;
    border-radius: 1.5rem;
    padding: 2rem;
}
.find_flight_form {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 1.5rem;
}
.find_flight_form_button {
    grid-column: span 3;
}
.input_set {
    width: 100%;
}
.input_set label {
    font-family: Product Sans, sans-serif;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 5px;
}
.input_set select,
.input_set input {
    background-color: #FFFFFF;
    font-family: Product Sans, sans-serif;
    font-size: 1rem;
    border: 1px  solid #042B67;
    border-radius: .5rem;
    padding: 0.75rem;
    width: 100%;
    box-sizing: border-box; 
}
.find_flight_form_button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.find_flight_form_button input[type="submit"] {
    color: #ffffff;
    font-family: Product Sans, sans-serif;
    font-size: 1rem;
    background-color: #042B67;
    border: none;
    border-radius: .5rem;
    padding: 0.75rem 20%;
}

@media screen and (max-width: 786px) {
    .heading {
        font-size: 2.5rem;
    }
    .subheading {
        font-size: 1.1rem;
    }
    .find_flight_form {
      grid-template-columns: 1fr;
    }
    .find_flight_form_button {
        grid-column: span 1;
    }
}

#discover_ph {
    display: grid;
    align-items: center;
    margin: 0;
    padding: 0;
}
#discover_ph video {
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
}
#discover_ph .body_padding {
    grid-row-start: 1;
    grid-column-start: 1;
}
.discover_ph_text {
    color: #ffffff60;
    letter-spacing: .5rem;
    font-size: 1.75rem;
    justify-self: center;
}

.discover_manila,
.discover_boracay,
.discover_cebu {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}
/* @media screen and (max-width: 900px) {
    .discover_manila {
        padding: 5vh 0;
    }
} */
.discover_manila {
    background-image: url(https://www.colliers.com/-/media/images/colliers/asia/philippines/colliers-review/collierreview_hero_image_01312022_v2/hero_image_tondominium/hero_image_021522/hero_image_colliersviewpoint_022222/meaningfulinsight_hero_image_022322/hero_image_colliersvp_030122.ashx?bid=7b3d795cd9b248f8a8120bcc0208df40&h=1040&w=1536&hash=EC84E20F69FBFC7CC9066AC14E2A9538);
}
.discover_boracay {
    background-image: url(https://a.cdn-hotels.com/gdcs/production5/d320/a0c5a994-d99a-4278-a1b1-8a3b652461ac.jpg);
}
.discover_cebu {
    background-image: url(https://a.travel-assets.com/findyours-php/viewfinder/images/res70/129000/129096-Cebu.jpg);
}
.discover_text_container {
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
}
.discover_text_header {
    color: #042B67;
    font-family: Bahnschrift;
    font-size: 3.4rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.discover_text_subheader {
    color: #000000;
    font-family: Product Sans;
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
}
.discover_button {
    justify-self: center;
    color: #FFFFFF;
    background-color: #042B67;
    border: none;
    border-radius: .40rem;
    font-family: Product Sans;
    font-size: 1rem;
    padding: .5rem 6vw;
    margin-top: 10vh;
    cursor: pointer;
}
.discover_button:hover {
    background-color: #0645a3;
}

.video_section {
    background-image: url(https://freeware.aerosoft.com/forum/screenshots/monthly_08_2020/4.jpg.f3c8797247d00415ccf7b3fe3e3f9a79.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* height: 100vh; */
    align-items: center;
    padding: 10vh 0;
}
.video_section div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.video_section div img {
    width: 50vw;
    justify-self: center;
    margin-bottom: 1rem;
    /* grid-column: span 2; */
}
@media screen and (max-width: 786px) {
    .video_section div img {
        width: 100%;
    }
}
.video_section div p[class="video_section_text_heading"] {
    font-family: Bahnschrift;
    font-size: 1.80rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.video_section div p[class="video_section_text_subheading"] {
    font-family: Product Sans;
    font-size: 1.10rem;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
}
.video_section div video {
    width: 100%;
    border-radius: .5rem;
}

#cards_section {
    background-color: #FFFFFF;
    padding: 7vh 0;
    height: 93vh;
}
#cards_section div.body_padding {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
/* @media screen and (max-width: 768px) {
    .cards_section div.body_padding {
        grid-template-columns: 1fr;
    }
} */
.cards_section_heading {
    color: #042B67;
    font-family: Product Sans;
    font-size: 1.50rem;
    text-align: center;
    letter-spacing: 1rem;
    grid-column: span 3;
    justify-self: center;
}
@media screen and (max-width: 768px) {
    .cards_section_heading {
        grid-column: span 1;
    }
}
.card {
    background-color: #eeeeee;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}
.card img {
    width: 100%;
    height: 100%;
    border-radius: .5rem .5rem 0rem 0rem;
}
.card_header {
    font-family: Bahnschrift;
    font-size: 1.40rem;
    font-weight: bold;
}
.card_description {
    color: #262626;
    font-family: Product Sans;
    font-size: 1rem;
    margin: 0;
}
.learn_more {
    color: #042B67;
    font-family: Product Sans;
    font-size: 1rem;
    margin: .5rem 0 .25rem 0;
}

.footer_section {
    padding: 2rem 0;
    height: 20vh;
    background-color: #042B67;
}
.footer_section div{
    color: #FFFFFF;
    display: grid;
    align-self: center;
}
.footer_section .body_padding .social_links{
    display: flex;
    justify-content: center;
}
.footer_section .body_padding .social_links img{
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 30px;
    margin: 1rem;
}
.footer_section .body_padding .bottom_footer{
    display: flex;
    justify-content: center;
}
.footer_section .body_padding .bottom_footer img{
    width: 40px;
    margin-right: 5px;
}
.footer_section .body_padding .bottom_footer p{
    font-family: Product Sans;
    font-size: 1rem;
}