.main_body {
    margin: 0 15vw;
}
.discover_ph video {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}
.discover_ph div[class="body_padding"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}